html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

  body
    .container
        .container
    .row
      .col-6
        form(action="/users/create" ,method="POST")
          // 2 column grid layout with text inputs for the first and last names
          .form-outline.mb-4
            input#form6Example3.form-control(type='text' name="name")
            label.form-label(for='form6Example3') Full name
          // Text input
          .form-outline.mb-4
            input#form6Example4.form-control(type='text' name="address")
            label.form-label(for='form6Example4') Address
          // Email input
          .form-outline.mb-4
            input#form6Example5.form-control(type='email' name="email")
            label.form-label(for='form6Example5') Email
          // Number input
          .form-outline.mb-4
            input#form6Example6.form-control(type='number' name="age")
            label.form-label(for='form6Example6') Age
          .form-outline.mb-4
            input#form6Example6.form-control(type='number' name="msbh")
            label.form-label(for='form6Example6') MSBH
          // Message input
          button.btn.btn-primary(type='reset' value='Reset') Reset 
          a.btn.btn-primary(href='/user', role='button') Exit
          input.btn.btn-primary(type='submit', value='Submit')
          // Submit button