html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

  body
    .container-fluid.my-5
      .row
        .col-8.offset-2
          .card
            .card-header.bg-primary.text-white.text-uppercase Users
            .card-body
              .users.my-3 
                h2.text-center.text-info.my-3 All users
                  table.table.table-bordered
                    thead
                      tr.bg-info.text-white
                        th  Name
                        th  Email
                        th  Age 
                        th  Action 
                    tbody
                      tr
                        td=  users.name 
                        td=  users.email
                        td=  users.age 
              a.btn.btn-primary(href="/users") exit